{% extends 'base.html' %}
{% block title %} Signin {% endblock title %}

{% block content %}

    <div class="container" style="display: flex;">
        <div class="col-md-3"></div>
        
        <div class="signin_div">
            <h3>Signin</h3>
            {{ error }}
            <form class="row g-3 needs-validation" novalidate method="POST">
                {% csrf_token %}

                <div class="col-md-4">
                    <label for="validationCustomUsername" class="form-label">Username</label>
                    <div class="input-group has-validation">
                        <input type="text" class="form-control" name="username" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                        Please choose a username.
                        </div>
                    </div>
                </div>
        
                <div class="col-md-4">
                    <label for="validationCustomUsername" class="form-label">Password</label>
                    <div class="input-group has-validation">
                    <input type="password" class="form-control" name="password" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please choose a password.
                    </div>
                    </div>
                </div>
        
                <div class="col-12">
                <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
        
            </form>
        </div>
    </div>

    <script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
      </script>



{% endblock %}