{% extends 'base.html' %}
{% block title %} Login {% endblock title %}

{% block content %}

    <br>
    <div class="container " id="container">
        <div class="form-container sign-in-container">
            <form method="POST">
                {% csrf_token %}
                <h6> Signin </h6>
                <small class="text-danger">{{ error }}</small>

                <input type="text" name="username" id="username" placeholder="Username" required>
				<small class="text-danger" id="uname-required">Username required</small>
                
                <input type="password" name="password" id="password" placeholder="Password" required>
				<small class="text-danger" id="pword-required">Password required</small>

                <button class="btn-login" onclick="loginBtn()">Submit</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Welcome </h1>
                    <p>If you are not a member of the site, become a member of the site in less than 1 minute</p>
                    <a href="{% url 'signup' %}"><button class="ghost" id="signIn">Register</button></a>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        var loginUnameRequiredx = document.getElementById("uname-required")
        var loginPasswordRequiredx = document.getElementById("pword-required")
            
        loginUnameRequiredx.style.display = 'none';
        loginPasswordRequiredx.style.display = 'none';
        
        function loginBtn() {
            var loginUsernameInput = document.getElementById('username').value;
            var loginUnameRequired = document.getElementById("uname-required")
            var loginPasswordInput = document.getElementById('password').value;
            var loginPasswordRequired = document.getElementById("pword-required")
                
            if (loginUsernameInput == "") {
                loginUnameRequired.style.display = 'block'
            } else {
                loginUnameRequired.style.display = 'none';
            }
            
            if (loginPasswordInput == "") {
                loginPasswordRequired.style.display = 'block'
            }else {
                loginPasswordRequired.style.display = 'none'
            }

            if (prevent == 1) {
                e.preventDefault()
            }
        }
    </script>

{% endblock %}