{% extends 'base.html' %}
{% load static %}
{% block title %} Signup {% endblock title %}

{% block content %}

<img class="wave" src="{% static 'img/wave.png' %}">
<div class="container">

    <div class="login-content">

        <form method="POST">
            {% csrf_token %}

            <h2 class="title">Signup</h2>
                <p class="text-danger">{{ pword_error }}</p>
               <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>username</h5>
						<input type="text" name="username" onblur="usernameFunction()" id="login-username-input" class="form-control" username }}
                    </div>
                </div>
                <small class="text-danger" id="login-uname-required">*Username required</small>
                <small class="text-danger" id="login-uname-unique">*Username not valid numbers</small>

                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="div">
                        <h5>email</h5>
						<input type="email" name="email" onblur="emailFunction()" id="login-email-input" class="form-control" email }}
                    </div>
                </div>

                <small class="text-danger" id="login-email-required">*Email required</small>

                <div class="input-div pass">
                    <div class="i"> 
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>password</h5>
						<input type="password" name="password" onblur="passwordFunction()" id="login-password-input" minlength="4" class="form-control" password }}
                    </div>
                </div>

				<small class="text-danger" id="login-pword-required">*Password required</small>
				<small class="text-danger" id="login-min4-password">*Min 4 lenght</small>

                <div class="input-div pass">
                    <div class="i"> 
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>password_confirmation</h5>
						<input type="password" name="password_confirmation" onblur="passwordFunction2()" id="login-password-input2" minlength="4" class="form-control" password }}
                    </div>
                </div>

                <small class="text-danger" id="login-pword-required2">*Password required</small>
				<small class="text-danger" id="login-min4-password2">*Min 4 lenght</small>

                <a class="text-decoration-none text-muted" href="{% url 'login' %}"><span>Already a member?</span> Sign In</a>
            <input type="submit" class="btn" onclick="signupBtn(e)" value="Signup">
        </form>

    </div>
</div>

<style>
	
	#login-uname-required, #login-uname-unique {
		display: none;
	}
	#login-pword-required, #login-min4-password {
		display: none;
	}
    #login-pword-required2, #login-min4-password2 {
		display: none;
	}
    #login-email-required {
        display: none;
    }
	</style>

<script>
    
function usernameFunction() {
    var numbers = /^[0-9]+$/;
    var letters = /^[A-Za-z]+$/;
    var letterNumber = /^[0-9a-zA-Z]+$/;
    var symbol = /^[a-zA-Z0-9.]+@/;
    
    var loginUsernameInput = document.getElementById('login-username-input').value;
    var loginUnameRequired = document.getElementById("login-uname-required")
    var loginUnameUnique = document.getElementById("login-uname-unique")

    if (loginUsernameInput.match(letterNumber)) {
        loginUnameRequired.style.display = 'none';
        // return true
    } else if (!loginUsernameInput.match(letterNumber)) {
        loginUnameRequired.style.display = 'block'
        // return false
    }

    if(!loginUsernameInput.match(numbers)) {
        loginUnameUnique.style.display = 'none';
        // return true
    }else if(loginUsernameInput.match(numbers)) {
		loginUnameUnique.style.display = 'block'
        // return false
    }
	
	// if (!loginUnameUnique.match(letterNumber)) {
	// 	loginUnameUnique.style.display = 'none';
	// }else if (loginUnameUnique.match(letterNumber)) {
	// 	loginUnameUnique.style.display = 'block'
	// }
}


function passwordFunction() {
    var numbers = /^[0-9]+$/;
    var letters = /^[A-Za-z]+$/;
    var letterNumber = /^[0-9a-zA-Z]+$/;
    var symbol = /^[a-zA-Z0-9.]+@/;

    var loginPasswordInput = document.getElementById('login-password-input').value;
    var loginPasswordRequired = document.getElementById("login-pword-required")
    var loginPasswordMin = document.getElementById("login-min4-password")

	if (!loginPasswordInput.match(letterNumber)) {
		loginPasswordRequired.style.display = 'block'
        // return false
	}else if (loginPasswordInput.match(letterNumber)) {
		loginPasswordRequired.style.display = 'none'
        // return true
	}

    // if (loginPasswordInput < 4) {
    //     loginPasswordMin.style.display = 'block'
    // }
}


function passwordFunction2() {
    var numbers = /^[0-9]+$/;
    var letters = /^[A-Za-z]+$/;
    var letterNumber = /^[0-9a-zA-Z]+$/;
    var symbol = /^[a-zA-Z0-9.]+@/;

    var loginPasswordInput = document.getElementById('login-password-input2').value;
    var loginPasswordRequired = document.getElementById("login-pword-required2")
    var loginPasswordMin = document.getElementById("login-min4-password2")

	if (!loginPasswordInput.match(letterNumber)) {
		loginPasswordRequired.style.display = 'block'
        // return false
	}else if (loginPasswordInput.match(letterNumber)) {
		loginPasswordRequired.style.display = 'none'
        // return true
	}

    // if (loginPasswordInput < 4) {
    //     loginPasswordMin.style.display = 'block'
    // }
}

function emailFunction() {
    var numbers = /^[0-9]+$/;
    var letters = /^[A-Za-z]+$/;
    var letterNumber = /^[0-9a-zA-Z]+$/;
    var symbol = /^[a-zA-Z0-9.]+@/;

    var loginEmailInput = document.getElementById('login-email-input').value;
    var loginEmailRequired = document.getElementById("login-email-required")

	if (loginEmailInput.match(symbol)) {
		loginEmailRequired.style.display = 'none'
        return true
	}else if (!loginEmailInput.match(symbol)) {
		loginEmailRequired.style.display = 'block'
        return false
	}
}

function signupBtn(e) {
    e.preventDefault()
    var numbers = /^[0-9]+$/;
    var letters = /^[A-Za-z]+$/;
    var letterNumber = /^[0-9a-zA-Z]+$/;
    var symbol = /^[a-zA-Z0-9.]+@/;
    
    // Username ==============================
    var loginUsernameInput = document.getElementById('login-username-input').value;
    var loginUnameRequired = document.getElementById("login-uname-required")
    var loginUnameUnique = document.getElementById("login-uname-unique")

    if (loginUsernameInput.match(letterNumber)) {
        loginUnameRequired.style.display = 'none';
    } else if (!loginUsernameInput.match(letterNumber)) {
        loginUnameRequired.style.display = 'block'
    }

    if(!loginUsernameInput.match(numbers)) {
        loginUnameUnique.style.display = 'none';
    }else if(loginUsernameInput.match(numbers)) {
		loginUnameUnique.style.display = 'block'
    }

    // password ===========================
    var loginPasswordInput = document.getElementById('login-password-input').value;
    var loginPasswordRequired = document.getElementById("login-pword-required")
    var loginPasswordMin = document.getElementById("login-min4-password")
    
	if (!loginPasswordInput.match(letterNumber)) {
        loginPasswordRequired.style.display = 'block'
	}else if (loginPasswordInput.match(letterNumber)) {
        loginPasswordRequired.style.display = 'none'
	}
    // password2 ===========================
    var loginPasswordInput = document.getElementById('login-password-input2').value;
    var loginPasswordRequired = document.getElementById("login-pword-required2")
    var loginPasswordMin = document.getElementById("login-min4-password2")

	if (!loginPasswordInput.match(letterNumber)) {
		loginPasswordRequired.style.display = 'block'
	}else if (loginPasswordInput.match(letterNumber)) {
		loginPasswordRequired.style.display = 'none'
	}

    // Email ===========================
    var loginEmailInput = document.getElementById('login-email-input').value;
    var loginEmailRequired = document.getElementById("login-email-required")

	if (loginEmailInput.match(symbol)) {
		loginEmailRequired.style.display = 'none'
	}else if (!loginEmailInput.match(symbol)) {
		loginEmailRequired.style.display = 'block'
	}
}

</script>


{% endblock content %}