{% extends 'base.html' %}
{% block title %} Signup {% endblock title %}

{% block content %}

    <br>
    <div class="container " id="container">
        <div class="form-container sign-in-container">
            <form method="POST">
                {% csrf_token%}
                <h6> Signup </h6>
                <small class="text-danger">{{ pword_error }}</small>

                <input type="text" name="username" id="username" placeholder="Username" required>
				<small class="text-danger" id="uname-required">Username required</small>

                <input type="email" name="email" id="" placeholder="Email" required>
				<small class="text-danger" id="email-required">Email required</small>
                
                <input type="password" name="password" id="password" placeholder="Password" required>
				<small class="text-danger" id="pword-required">Password required</small>

                <input type="password" name="password_confirmation" id="password_confirmation" placeholder="Confirm Password" required>
				<small class="text-danger" id="confrm-pword-required">Password required</small>

                <button class="btn-login" onclick="signupBtn()">Submit</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Welcome </h1>
                    <p>To access all the features of the site, first log in to the site</p>
                    <a href="{% url 'login' %}"><button class="ghost" id="signIn">Login</button></a>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        var loginUnameRequiredx = document.getElementById("uname-required")
        var loginPasswordRequiredx = document.getElementById("pword-required")
        var loginEmailRequiredx = document.getElementById("email-required")
        var loginConfrmPasswordRequiredx = document.getElementById("confrm-pword-required")
            
        loginUnameRequiredx.style.display = 'none';
        loginEmailRequiredx.style.display = 'none';
        loginPasswordRequiredx.style.display = 'none';
        loginConfrmPasswordRequiredx.style.display = 'none';
        
        function signupBtn() {
            var loginUsernameInput = document.getElementById('username').value;
            var loginUnameRequired = document.getElementById("uname-required")

            var loginPasswordInput = document.getElementById('password').value;
            var loginPasswordRequired = document.getElementById("pword-required")
            
            var loginConfrmPasswordInput = document.getElementById('password_confirmation').value;
            var loginConfrmPasswordRequired = document.getElementById("confrm-pword-required")
            
            var loginEmailInput = document.getElementById('email');
            var loginEmailRequired = document.getElementById("email-required")
            console.log("------", loginEmailInput);
                
            if (loginUsernameInput == "") {
                loginUnameRequired.style.display = 'block'
            } else {
                loginUnameRequired.style.display = 'none';
            }
            
            if (loginPasswordInput == "") {
                loginPasswordRequired.style.display = 'block'
            }else {
                loginPasswordRequired.style.display = 'none'
            }

            if (loginConfrmPasswordInput == "") {
                loginConfrmPasswordRequired.style.display = 'block'
            } else {
                loginConfrmPasswordRequired.style.display = 'none';
            }

            if (loginEmailInput == null) {
                loginEmailRequired.style.display = 'block'
            } else {
                loginEmailRequired.style.display = 'none';
            }

        }
    </script>

{% endblock %}